<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.584612985350-54b9cfeu08ai3mrtpf4ncotv8c0vok9e</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>584612985350-54b9cfeu08ai3mrtpf4ncotv8c0vok9e.apps.googleusercontent.com</string>
</dict>
</plist>
